<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">

        table {
            font-size: 18px;
        }

        table thead th {
            background: rgb(255, 99, 71);
            height: 50px;
        }

        table tr td {
            height: 30px;
        }

        table thead th:first-of-type{
            border-top-left-radius: 10px;
        }

        table thead th:last-of-type{
            border-top-right-radius: 10px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    {% block email_body %}{% endblock email_body %}

</body>
