.label {
    padding: 1px 2px 5px;
}

.label .label-content {
    border: 2px solid rgb(255, 255, 255);
    padding: 1px 5px 2px;
    border-radius: 5px;
    font-size: 80%;
}

.label-stat_1, .table-pending thead tr.active th {
    background-color: #428bca;
}

.label-stat_2 {
    background-color: #d9534f;
}

.label-stat_3, .table-in_proccess thead tr.active th {
    background-color: #5bc0de;
}

.label-stat_4 {
    background-color: rgb(48, 191, 40);
}

.label-stat_5, .table-closed thead tr.active th {
    background-color: #5cb85c;
}

.label-stat_6, .table-other thead tr.active th {
    background-color: #f0ad4e;
}
