.label {
    padding: 1px 2px 5px;
}

.label .label-content {
    border: 2px solid rgb(255, 255, 255);
    padding: 1px 5px 2px;
    border-radius: 5px;
    font-size: 80%;
}

.label-stat_1 {
    background-color: rgb(255, 99, 71);
}

.label-stat_2 {
    background-color: rgb(255, 39, 0);
}

.label-stat_3 {
    background-color: rgb(33, 194, 230);
}

.label-stat_4 {
    background-color: rgb(48, 191, 40);
}

.label-stat_5 {
    background-color: rgb(127, 177, 132);
}

.label-stat_6 {
    background-color: rgb(216, 51, 202);
}
