{% extends "auth_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block app_content %}
    <form method="POST" action="" class="col-sm-6 col-sm-offset-3">
        {% crispy form form.helper %}
        <div class="control-group col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
        </div>
        <div class="control-group col-sm-offset-3 col-sm-9">
            <div class="controls">
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                <br>
                <a href="#" class="pull-left">Register</a>
                <a href="#" class="pull-right">Forgot password</a>
            </div>
        </div>
    </form>
{% endblock app_content %}
