{% extends "tasks_base.html" %}

{% block app_content %}
    <hr>
    <p class="pull-right">{{object.start_date}}</p>
    <h1>{{ object.title|upper }} <small>by {{ object.author|title }}</small></h1>
    <br>
    <div class="well well-lg">{{ object.description }}</div>
    <hr>
    <div>
        <p>Start date : <b>{{ object.start_date|default:'Uknown' }}</b></p>
        <p>Expect date : <b>{{ object.expect_date|default:'Uknown' }}</b></p>
        <p>Finish date : <b>{{ object.end_date|default:'Uknown' }}</b></p>
    </div>
    <hr>
    <div>
        <p>Expert: <b>{{ object.expert }}</b></p>
    </div>
{% endblock app_content %}
